<!DOCTYPE html>
<html>

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="../css/main.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

 <nav class="row">
        <div class="nav-wrapper cyan darken-1">
          <a href="principal.html" class="brand-logo"><img src="../img/EY-logo-li.png" alt="" class="responsive-img col s4 offset-s4"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="empresarial.html">Top Empresarial</a></li>
            <li><a href="recompensas.html">Recompensas</a></li>
            <li><a href="puntos.html">Otorga puntos</a></li>
            <li><a href="historial.html">Historial</a></li>
            <li><a href="login.html">Cerrar Sesión</a></li>

          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a class="cyan-text" href="empresarial.html">Top Empresarial</a></li>
            <li><a class="cyan-text" href="recompensas.html">Recompensas</a></li>
            <li><a class="cyan-text" href="puntos.html">Otorga puntos</a></li>
            <li><a class="cyan-text" href="historial.html">Historial</a></li>
            <li><a class="cyan-text" href="login.html">Cerrar Sesión</a></li>

          </ul>
        </div>
      </nav>
	<section id="historial" class="container">
	<h1>Historial</h1>
		<div class="col s12 m5">
			<div class="card horizontal">
				<div class="card-image">
					<img src="https://lorempixel.com/100/250/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h6><strong>Comida para dos personas</strong></h6>
						<p class="greyText">Aplicable para dos personas en el restaurante mas fino de la zona morada</p>
						<p>Valor: <strong>225 pts</strong></p>
						<p>Valido del 15 de agosto al 30 de agosto de 2017</p>
						<p><strong>Código de Validación</strong> #2585654</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col s12 m5">
			<div class="card horizontal">
				<div class="card-image">
					<img src="https://lorempixel.com/100/250/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h6><strong>Taza térmica</strong></h6>
						<p class="greyText">Taza de 100ml térmica</p>
						<p>Valor: <strong>50 pts</strong></p>
						<p>Valido del 15 de agosto al 20 de agosto de 2017</p>
						<p><strong>Código de Validación</strong> #2585884</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="whishList" class="container">
	<h1>Whish List</h1>
		<div class="col s12 m5">
			<div class="card horizontal">
				<div class="card-image">
					<img src="https://lorempixel.com/100/210/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h6><strong>Comida para dos personas</strong></h6>
						<p class="greyText">Aplicable para dos personas en el restaurante mas fino de la zona morada</p>
						<p>Valor: <strong>225 pts</strong></p>
						<p>Valido del 15 de agosto al 30 de agosto de 2017</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<script src="../js/principal.js"></script>
</body>

</html>
